[Unit]
Description=myecho service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
ExecStart=/usr/bin/python /usr/local/bin/echoserver.py

[Install]
WantedBy=multi-user.target
Alias=echo.service
